<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smona.app.propertymanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Baoxiu -->
        <activity
            android:name="com.smona.app.propertymanager.baoxiu.WuyebaoxiuActivity"
            android:label="@string/baoxiu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.baoxiu.BaoxiudanActivity"
            android:label="@string/baoxiu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.baoxiu.BaoxiudanDetailActivity"
            android:label="@string/baoxiu" >
        </activity>

        <!-- Tousu -->
        <activity
            android:name="com.smona.app.propertymanager.tousu.TousujianyiActivity"
            android:label="@string/tousu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.tousu.MineTousuActivity"
            android:label="@string/mine_suggest" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.tousu.TousudanDetailActivity"
            android:label="@string/tousudandetail" >
        </activity>

        <!-- Tongzhi -->
        <activity
            android:name="com.smona.app.propertymanager.notify.WuyetongzhiActivity"
            android:label="@string/notify" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.notify.WuyetongzhiDetailActivity"
            android:label="@string/notify" >
        </activity>

        <!-- Zulin -->
        <activity
            android:name="com.smona.app.propertymanager.zulin.FangwuzulinActivity"
            android:label="@string/chuzu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.zulin.FangwuzulinDetailActivity"
            android:label="@string/chuzu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.zulin.PublishFangYuanActivity"
            android:label="@string/chuzu" >
        </activity>

        <!-- ErshouWupin -->
        <activity
            android:name="com.smona.app.propertymanager.wupin.ErshouwupinActivity"
            android:label="@string/wupin" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.wupin.WupinfabuActivity"
            android:label="@string/ershouwupin_wupinfabu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.wupin.MineWupinActivity"
            android:label="@string/ershouwupin_mine" >
        </activity>
        
        <!-- provider -->
        <provider
            android:name="com.smona.app.propertymanager.data.db.PropertyProvider"
            android:authorities="com.smona.app.propertymanager.cache"
            android:exported="true" />
    </application>

</manifest>