<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smona.app.propertymanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PropertyHomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 物业报修 -->
        <activity
            android:name="com.smona.app.propertymanager.baoxiu.PropertyWuyebaoxiuActivity"
            android:label="@string/property_home_wuyebaoxiu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.baoxiu.PropertyBaoxiudanActivity"
            android:label="@string/property_home_wuyebaoxiu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.baoxiu.PropertyBaoxiudanDetailActivity"
            android:label="@string/property_wuyebaoxiu_baoxiudandetail" >
        </activity>

        <!-- 投诉建议 -->
        <activity
            android:name="com.smona.app.propertymanager.tousu.PropertyTousujianyiActivity"
            android:label="@string/property_home_tousujianyi" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.tousu.PropertyMineTousuActivity"
            android:label="@string/property_tousujianyi_mine_suggest" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.tousu.PropertyTousudanDetailActivity"
            android:label="@string/property_tousudan_detail" >
        </activity>

        <!-- 物业通知 -->
        <activity
            android:name="com.smona.app.propertymanager.notify.PropertyWuyetongzhiActivity"
            android:label="@string/property_home_wuyetongzhi" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.notify.PropertyWuyetongzhiDetailActivity"
            android:label="@string/property_home_wuyetongzhi" >
        </activity>

        <!-- 房屋租赁 -->
        <activity
            android:name="com.smona.app.propertymanager.zulin.PropertyFangwuzulinActivity"
            android:label="@string/property_home_fangwuzulin" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.zulin.PropertyFangwuzulinDetailActivity"
            android:label="@string/property_home_fangwuzulin" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.zulin.PropertyPublishFangYuanActivity"
            android:label="@string/property_home_fangwuzulin" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.zulin.PropertyMineFangyuanActivity"
            android:label="@string/property_fangwuzulin_mine" >
        </activity>

        <!-- 二手物品 -->
        <activity
            android:name="com.smona.app.propertymanager.wupin.PropertyErshouwupinActivity"
            android:label="@string/property_home_ershouwupin" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.wupin.PropertyWupinfabuActivity"
            android:label="@string/property_ershouwupin_wupinfabu" >
        </activity>
        <activity
            android:name="com.smona.app.propertymanager.wupin.PropertyMineWupinActivity"
            android:label="@string/property_ershouwupin_mine" />
        <activity
            android:name="com.smona.app.propertymanager.wupin.PropertyWupinDetailActivity"
            android:label="@string/property_ershouwupin_wupin_detail" />

        <!-- provider -->
        <provider
            android:name="com.smona.app.propertymanager.data.db.PropertyProvider"
            android:authorities="com.smona.app.propertymanager.cache"
            android:exported="true" />
    </application>

</manifest>